* {
  margin: 0px;
  padding: 0px;
  font-family: "lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.primary-text {
  color: #fd6e0a;
  border: 0;
}
.primary-btn {
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: white;
  padding: 15px 35px;
}
/* header section */
/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
.mary {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav li {
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.header {
  background-color: #fff8f3;
  background-image: url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactbtn {
  color: #fd6e0a;
  background-color: white;
  margin-left: 30px;
}
.greetings {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  /* margin-bottom: 0px; */
}
.name {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  /* margin-top: 5px; */
  margin-bottom: 20px;
}
.quotes {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  /* max-width: 580px; */
}
/* main section */
main{
    max-width: 1150px;
    margin: 0px auto;
}

.section-title {
  font-size: 55px;
  font-weight: 700px;
  color: #181818;
  text-align: center;
}
.section-content {
  font-size: 20px;
  font-weight: 700px;
  color: #757575;
  text-align: center;
  margin-top: 50px;
}
/* about section */
.aboutme {
  margin: 70px;
  padding: 110px;
  background-color: #fff8f3;
  border-radius: 10px;
}
.aboutinfo-cont{
    display: flex;
    justify-content: space-around;
}
.aboutinfo{
    margin-right: 50px;

font-size: 20px;
font-weight: 400; 
margin-top: 30px;
text-align: center;
}
.infotitle{
    color: #757575;
}
.info-desc{
    color: #010101;
    font-weight: 900;
}
/* what i do section */
.whatido{
  margin-top:130px ;
}
.whatido-cont{
  display: flex;
  margin-top:50px ;
  justify-content: space-around;
  margin: 30px;
}
.whatido-box{
  border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 20px 0px;
width: 180px;
height: 350px;
margin-top: 50px;
 align-items: center;
 padding: 0px 30px 30px 30px;
}

.icons{
  text-align: left;
  width: 44px;
  height: 44px;
  margin: 30px 10px 30px 0px;
}
.box-header{
  text-align: left;
  font-weight: 700; 
  color: #181818;
  font-size: 20px;
  /* display: inline; */
}
.box-description{
  font-size: 16px;
font-weight: 400; 
color: #757575;
text-align:left;
margin-top: 20px;

}
/* summary section */

.summary{
  justify-content: center;
  text-align:center;
  margin-top: 200px;
}
.summary-container{
  display: flex;
  justify-content: center;
  margin-top: 115px;
  margin-bottom: 50px;
  text-align: left;
  margin-left: 100px;
}
summary-cont{
  margin-right: 50px;
}
.my{
  font-size: 40px;
font-weight: 700; 
color: #474747;
margin-bottom: 40px;
}
.places{
  font-size: 25px;
font-weight: 700; 
margin-bottom: 10px;
}
.time{
  font-size: 20px;
font-weight: 600; 
color: #757575;
margin-bottom: 20px;
}
.summary-description{
  font-size: 16px;
font-weight: 400; 
color: #757575;
}
